In [2]:
!dir

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 6E08-FF86

 Directorio de C:\Users\jluzuriaga\Documents\cursoPython2ed\Unidad8

25/07/2022  18:39    <DIR>          .
25/07/2022  18:39    <DIR>          ..
25/07/2022  18:38    <DIR>          .ipynb_checkpoints
25/07/2022  16:54            53.823 ejercicio1.ipynb
25/07/2022  01:10             4.622 ibm-1959_1960.csv
25/07/2022  18:12            21.779 numpy_ejercicios.ipynb
25/07/2022  16:39               175 prueba.txt
25/07/2022  18:38                72 Untitled.ipynb
               5 archivos         80.471 bytes
               3 dirs  21.310.578.688 bytes libres

In [ ]:
#importar
#ver datos
#graficarlos

In [4]:
import pandas as pd

In [5]:
ibmdata=pd.read_csv('ibm-1959_1960.csv')

In [8]:
ibmdata

    FechaOperacion PrecioCierre
0       1959-06-29          445
1       1959-06-30          448
2       1959-07-01          450
3       1959-07-02         447e
4       1959-07-06          451
..             ...          ...
250     1960-06-24          525
251     1960-06-27          519
252     1960-06-28          519
253     1960-06-29          522
254     1960-06-30          522

[255 rows x 2 columns]

In [9]:
ibmdata.head()

  FechaOperacion PrecioCierre
0     1959-06-29          445
1     1959-06-30          448
2     1959-07-01          450
3     1959-07-02         447e
4     1959-07-06          451

In [11]:
type(ibmdata['PrecioCierre'])

pandas.core.series.Series

In [14]:
type(ibmdata['FechaOperacion'][0])

str

In [15]:
ibmdata['FechaOperacion']=pd.to_datetime(ibmdata['FechaOperacion'])

In [16]:
type(ibmdata['FechaOperacion'])

pandas.core.series.Series

In [17]:
type(ibmdata['FechaOperacion'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
ibmdata=ibmdata.set_index('FechaOperacion')

In [21]:
ibmdata

               PrecioCierre
FechaOperacion
1959-06-29              445
1959-06-30              448
1959-07-01              450
1959-07-02             447e
1959-07-06              451
...                     ...
1960-06-24              525
1960-06-27              519
1960-06-28              519
1960-06-29              522
1960-06-30              522

[255 rows x 1 columns]

In [52]:
a=pd.DataFrame(ibmdata["1960-06-01":"1960-06-15"]["PrecioCierre"])

In [53]:
a

               PrecioCierre
FechaOperacion
1960-06-01              504
1960-06-02              509
1960-06-03              511
1960-06-06              524
1960-06-07              525
1960-06-08              541
1960-06-09              531
1960-06-10              529
1960-06-13              530
1960-06-14              531
1960-06-15              527

In [58]:
a['PrecioCierre']=a['PrecioCierre'].astype("int")

In [63]:
type(a['PrecioCierre'][0])

numpy.int32

In [65]:
a['PrecioCierre'].mean()

523.8181818181819